html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* style the product catalog */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.product-image {
  max-width: 300px;
}

.product-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  max-width: 350px;
}

.search-bar-alignment {
  width: 100%; 
  margin-top: 40px; 
  margin-bottom: 50px;
}

.no-results-message {
  font-style: italic; 
  font-weight: bold;
  margin-top:15%; 
  margin-left:25%; 
  margin-bottom:15%;
}