@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is an intelligent app!</h1>
    <p>It relies on Azure OpenAI and Azure AI Search to let you find the products you love in a natural chat interaction.</p>
    <p>No more Filters. No more full-text search.</p>
</div>
