@model ChatModel

@{
    ViewData["Title"] = "Chat with our AI assistant";
}


<div class="search-bar search-bar-alignment">
    <p>What are you looking for?</p>
    <form method="post" action="@Url.Action("Assistant", "Products")">
        <input name="promptText" type="text" placeholder="What are you looking for today?..." style="width: 80%;">
        <button type="submit" style="width: 10%;">ASK</button>
    </form>
</div>


@if(!string.IsNullOrEmpty(Model.Prompt)) 
{    
    <div class="chat-completion-container">

        <div class="chat-prompt">
            <strong>You:</strong>
            <p>@Model.Prompt</p>
        </div>

        <div class="chat-completion">
            <strong>the Assistant:</strong>
            <p>@Model.Completion</p>
        </div>
    </div>
}


<a href="@Url.Action("Index", "Products")">Go to the Products Catalog</a>